<!-- <div id="sidebar" class="bg-light border-end position-fixed" style="width: 250px; left: -250px; top: 0; height: 100%; z-index: 1000;">
    <div class="sidebar-header p-3 bg-light">
      <h4>Sidebar Menu</h4>
      <button class="btn btn-outline-secondary" id="sidebarClose">Close</button>
    </div>
    <div class="list-group list-group-flush">
      <a href="{{ url_for('home') }}" class="list-group-item list-group-item-action">Home</a>
      <a href="{{ url_for('about') }}" class="list-group-item list-group-item-action">About</a>
      <a href="{{ url_for('events') }}" class="list-group-item list-group-item-action">Events</a>
      <a href="{{ url_for('contact') }}" class="list-group-item list-group-item-action">Contact</a>
      <a href="{{ url_for('book_ticket') }}" class="list-group-item list-group-item-action">Book Ticket</a>
      <a href="{{ url_for('location') }}" class="list-group-item list-group-item-action">Location of Museum</a>
      <a href="{{ url_for('check_ticket') }}" class="list-group-item list-group-item-action">Check Ticket</a>
      <a href="{{ url_for('check_ticket_status') }}" class="list-group-item list-group-item-action">Check Ticket Status</a>
    </div>
  </div>
   -->